img {
  background: none !important;
  box-shadow: none !important;
  border: none !important;
}

.reveal .controls {
  color: #e94f7c !important;
}

.reveal .progress {
  color: #e94f7c !important;
}

.cypress-logo {
  transform: scale(0.6);
}

.striker-logo {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 25px;
}
